@import url("https://fonts.googleapis.com/css2?family=Asap:ital@1&family=Istok+Web&family=Kings&family=Montserrat:ital,wght@1,300&family=Open+Sans:wght@300&family=Oswald:wght@500&family=Pacifico&family=Roboto:wght@400;500&family=Ubuntu:wght@300&family=Vollkorn&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Vollkorn", serif;
}
body {
  width: 65%;
  margin: auto;
  height: auto;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, auto);
  grid-auto-columns: 1fr;
  gap: 10px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "container1 news1"
    "container1 news2"
    "container1 news3"
    "news4 news5"
    "news6 news7"
    "news8 news9"
    "news10 .";
  width: 100%;
}

.container > div > img {
  width: 100%;
}

.container1 {
  grid-area: container1;
  font-family: "Istok Web", sans-serif;
}
.container1 > img {
  height: 50%;
}

.container1 > p {
  font-size: 18px;
  margin-bottom: 15px;
}
.container1 > p:nth-child(2) {
  font-size: 25px;
  font-weight: 500;
}
.container1 > p:nth-child(5) {
  font-size: 25px;
  opacity: 0.6;
}

.news1 {
  grid-area: news1;
}
.news1 > img {
  width: 80%;
}

.news2 {
  grid-area: news2;
}

.news3 {
  grid-area: news3;
}

.news4 {
  grid-area: news4;
}

.news5 {
  grid-area: news5;
}

.news6 {
  grid-area: news6;
}

.news7 {
  grid-area: news7;
}

.news8 {
  grid-area: news8;
}

.news9 {
  grid-area: news9;
}

.news10 {
  grid-area: news10;
}

#container-footer {
  border-bottom: solid 1px #c8c8c3;
  margin-top: 40px;
  position: relative;
}
#socialist-footer > ul > li {
  color: #5a5a5a;
  border-right: solid 1px #c8c8c3;

  height: 28px;
  display: inline-block;
  padding: 0px 12px 3px;
  height: fit-content;
}
#socialist-footer > ul > li > a {
  cursor: pointer;
}
#footer-logo {
  text-align: center;
  margin-top: -27px;
}

img {
  width: 250px;
}
#search-box_footer {
  margin-top: -27.5px;
  position: absolute;
  right: 0;
}
input[type="text"] {
  background: #f5f5f5;
  border: none;
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  padding: 0 10px;
  border-left: 1px solid #ccc;
  outline: none;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Exo 2", sans-serif;
  font-family: "Fira Sans Condensed", sans-serif;
  font-family: "Titillium Web", sans-serif;
}
.fa-magnifying-glass {
  float: right;
  display: block;
  font-size: 14px;
  line-height: 14px;
  margin-left: 14px;
  padding: 5px 10px 0 0;
  background: none;
  color: #000;
  border: none;
}

/* <!------------------------------Mini nav bar-----------------------------------------------> */
#site-footer {
  display: flex;
  height: 250px;
  gap: 10px;
  width: auto;
  background-color: #fff;
}
#box-1-footer {
  height: auto;
  width: 38%;
  padding: 12px;
}
#box-2-footer {
  height: auto;
  width: 30%;
  padding: 20px;
}
#box-3-footer {
  height: auto;
  width: 31%;
  padding: 15px;
}

#column-footer {
  width: 30%;
  padding: 30px;
  border-right: dotted 1px #525252;
  display: inline-block;
}
ul > li {
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Exo 2", sans-serif;
  font-family: "Fira Sans Condensed", sans-serif;
  font-family: "Titillium Web", sans-serif;
}
ul > li:hover {
  cursor: pointer;
  text-decoration: underline;
}
a:hover {
  text-decoration: overline;
}
#column2-footer {
  padding: 30px;
  display: inline-block;
  height: 100%;
  margin: 0 20px;
}
#column2-footer > ul > li {
  overflow: hidden;
}
#column2-footer > ul + li:hover {
  text-decoration: underline;
}
span {
  display: block;
  color: #133b5a;
  letter-spacing: 1.2px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Exo 2", sans-serif;
  font-family: "Fira Sans Condensed", sans-serif;
  font-family: "Titillium Web", sans-serif;
}
a {
  color: #7e7c76;
  line-height: 24px;
  font-weight: 597;
  font-size: smaller;
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Exo 2", sans-serif;
  font-family: "Fira Sans Condensed", sans-serif;
  font-family: "Titillium Web", sans-serif;
}
a:hover {
  text-decoration: underline;
}
#laster-footer {
  background: #eaeaea;
  color: #5a5a5a;
}
#footer-last {
  float: left;
  width: 100%;
}
#main_menu-footer {
  margin-top: 15px;
  color: #5a5a5a;
  padding-bottom: 5px;
}
#main_menu-footer > ul > li {
  color: #5a5a5a;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: small;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Exo 2", sans-serif;
  font-family: "Fira Sans Condensed", sans-serif;
  font-family: "Titillium Web", sans-serif;
}
#main_menu-footer > ul > li:hover {
  cursor: pointer;
  text-decoration: underline;
}
#footer-last2 {
  font-size: 11.5px;
}
#colom-footer {
  margin-left: 30px;
}
#mainu_menu2-footer {
  margin-left: 9%;
  margin-top: -20px;
  text-align: center;
  float: left;
  color: #5a5a5a;
}
#mainu_menu2-footer > ul > li {
  display: inline-block;
}
#mainu_menu2-footer > ul > li > a {
  margin-left: 10px;
  color: #7e7c76;
  padding: 0 7px;
  border-right: 1px solid #7e7c76;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.09px;
}
#footer_finish {
  margin-top: 4%;
  text-align: center;
  font-size: small;
}
.fa-plus {
  font-size: 10px;
}

#edf {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#styl {
  margin-top: 10%;
  color: #133b5a;
  letter-spacing: 1.2px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: small;
  margin-bottom: 8px;
}
