*{
    background: #2a5e88;
    box-sizing: border-box;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    outline: 0 !important;
}

#trending{
    width: 70%;
    border:none;
    padding: 10px;
    background: #133b5a;
}

#close_this{
    width: 70%;
    /* padding-top: 20px; */
    /* border: 1px solid red; */
    padding-top: 30px;
    padding-bottom: 5px;
    
}
#close_this>a{
    /* position:fixed; */
    margin-left:10px ;
    font-size: 12px;
    font-family: "Fira Sans",sans-serif;

}
#close_this>a:hover{
    text-decoration:underline;

}


#trending>ul{
    display: block;
    background: #133b5a;
}
#trending>ul>li{
    display: inline-block;
    justify-content: flex-start;
    margin-right: 20px;
    background: #133b5a;
    color: #FFF;
    font-family: "Fira Sans",sans-serif;
    font-size: 12px;
    font-weight: 600;

    padding-top: 0px;
    padding-right: 9.5px;
    padding-bottom: 0px;
    cursor: pointer;
    /* padding-left: 9.5px; */
}
#trending>ul>li:hover{
    text-decoration:underline;
}

.details-menu{
    width: 70%;
    padding: 5px;
    /* border: 1px solid red; */
    color: #FFF;
}
ul{
    list-style: none;
    padding-inline-start: 0px;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
#popup-menu li.housing, #popup-menu li {
    position: relative;
}
img{
    height: 15px;
    width: auto;
}
.details-menu>ul>li{
    font-size: 16px;
    font-family: "Fira Sans",sans-serif;
    cursor: pointer;
    
    border-bottom:dashed 1px #5078ac;
    color: #FFF;
    
}
#coloumn1>li>a:hover{
    text-decoration:underline;

}
div>div>ul>li>ul{
    font: 12px "Fire Sans", sans-serif; 
    color:  #000000; 

}
a{
    color: #FFF;
    text-decoration: none; 
    margin-top: 20px;
    /* line-height: 45px; */
    margin-bottom: 20px;
}
div>div.details-menu{
display: flex;

}
.sub-menu2>a{
    color: #c1cee0;
}
.sub-menu2>li>a:hover{
    text-decoration:underline;
}
div.details-menu ul.sub-menu2 li a{
    color: #c1cee0;
}
div>ul>li>a{
    font-weight: bold;
}
a{
    line-height: 10px;
}
.menu-open{
    height: 20px;
    width: 20px;
}
div.details-menu>ul>li>a {
    line-height: 45px;
}
div.details-menu ul.sub-menu2 li a{
    line-height: 35px;
}
.fa-xmark{
    color: #fff;
    font-size: 35px;
    /* margin-top: 10px; */
}
#close_this-end{
    width: 70%;
    display:flex;
    /* padding-top: 20px; */
    /* border: 1px solid red; */
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    
    
    
    /* line-height: 22px; */
    
}
#close_this-end>div>a{
    /* position:fixed; */
    
    font-family: "Fira Sans",sans-serif;
    margin-left: 10px;
}
#close_this-end>div>a:hover{
    text-decoration:underline;
}
#bottom-bar{
    width: 70%;
    padding: 10px;
    background: #133b5a;
    border: none;
    height: 40px;
}
#bottom-bar>ul{
    display: inline;
    background: #133b5a;
    
}
#bottom-bar>ul>li{
    display: inline-block;
    justify-content: flex-start;
    margin-right: 20px;
    background: #133b5a;
    color: #FFF;
    font-family: "Fira Sans",sans-serif;
    font-size: 12px;
    font-weight: 600;

    padding-top: 0px;
    padding-right: 9.5px;
    padding-bottom: 0px;
    /* padding-left: 9.5px; */
}
#bottom-section{
    position: relative;
    background: #133b5a;
}
#bottom-section>div>ul{
    background: #133b5a;
}
#bottom-section>div>ul>li{
    display: inline;
    margin-right: 20px;
    background: #133b5a;
    color: #FFF;
    font-family: "Fira Sans",sans-serif;
    font-size: 12px;
    font-weight: 600;

    padding-top: 0px;
    padding-right: 9.5px;
    padding-bottom: 0px;
    cursor: pointer;
}
#section-div2{
    position: absolute;
    right: 0;
    margin-top: -18px;
    
}
#section-div1>ul>li:hover{
    text-decoration:underline;
}